<h1>Skate Park</h1>

<div id="alert-container"></div>

<div class="py-4">
  <h2>Lista de participantes</h2>

  <hr />

  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Foto</th>
        <th scope="col">Nombre</th>
        <th scope="col">A침os de experiencia</th>
        <th scope="col">Especialidad</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody id="table">

    </tbody>
  </table>
  <a href="/perfil" class="link">Mi perfil</a> | <a id="admin-link" class="link">Secci칩n Administrador</a>
  | <a id="close-link" class="link">Cerrar Sesi칩n</a>
</div>


<div id='app'>



  <script>
    const alertContainer = document.getElementById('alert-container')
    const table = document.getElementById('table')
    const showSkaters = (skaters) => {
      table.innerHTML = ''
      skaters
        .filter(s => s.email !== 'admin@skaterpark.com')
        .sort((a, b) => {
          return a.id - b.id;
        })
        .forEach(skater => {
          table.innerHTML += `
      <tr>
        <th scope="row">${skater.id}</th>
        <td>
          <img src="/avatars/${skater.foto}" class="list-photo"/>
        </td>
        <td>${skater.nombre}</td>
        <td>${skater.anos_experiencia}</td>
        <td>${skater.especialidad}</td>
        ${skater.estado ? "<td class='text-success font-weight-bold'>Aprobado</td>" : "<td class='text-danger font-weight-bold'>En revisi칩n</td>"}
      </tr>
            `
        })
    }

    document.addEventListener('DOMContentLoaded', async () => {
      if (!localStorage.getItem('token')) {
        window.location.href = "/login"
      }

      const token = localStorage.getItem('token')



      try {
        const res = await fetch('/api/v1/users', {
          method: 'get',
          headers: {
            Authorization: `Bearer ${localStorage.getItem('token')}`
          }
        })
        const data = await res.json()

        showSkaters(data.data)


      } catch (e) {
        localStorage.removeItem('token')
        window.location.href = "/login"

      }
    })

    const closeLink = document.getElementById('close-link')
    closeLink.addEventListener("click", () => {
      localStorage.removeItem('token')
      window.location.href = "/login"
    });

    const adminLink = document.getElementById('admin-link')
    adminLink.addEventListener("click", async () => {
      try {
        const res = await fetch('/api/v1/adminaccess', {
          method: 'post',
          headers: {
            Authorization: `Bearer ${localStorage.getItem('token')}`
          }
        })
        if (!res.ok) {
          alertContainer.innerHTML = `
            <div class="alert alert-danger" role="alert">${res.error}</div>
            `
          setTimeout(() => {
            alertContainer.innerHTML = ""
          }, 3000);
        } else {
          window.location.href = "/admin"
        }

      } catch (e) {
        alertContainer.innerHTML = `
            <div class="alert alert-danger" role="alert">${e.error}</div>
            `
        setTimeout(() => {
          alertContainer.innerHTML = ""
        }, 3000);

      }
    });


  </script>